
li { 
    display: inline-block;
    list-style-type: none;
    padding: 5px 5px 5px 5px; 
    border-top: 2px black;
    border-bottom: 2px black;
}

.newspaper-container {
    width: 700px; 
    border-radius: 5; 
    box-shadow: 2px 2px 3px black;
    align-items: center;
}

h1 { 
    text-align: center;
    font-family: 'Abril Fatface';
}

h2, h4 { 
    font-family: "Roboto Slab";
    text-align: center;
}

.more-articles{
    align-items: left;
    font-family: 'Gill Sans';
}

p { 
    font-family: "source sans pro";
    text-align: justify;

}

