
li { 
    display: inline-block;
    display: wrap; 
    list-style-type: none;
    font-size: small;
    padding: 0.5px 0.5px 0.5px 0.5px;
}

ul { 
    border-top: 10px black;
    border-bottom: 10px black;
}

.author { 
    color: red;
}

.newspaper-container {
    display: inline-block; 
    align-items: center;
    width: 700px; 
    border-radius: 5px; 
    box-shadow: 2px 2px 3px black;
    align-items: center;
}

h1 { 
    text-align: center;
    font-family: 'Abril Fatface';
}

h2, h4 { 
    font-family: "Roboto Slab";
    text-align: center;
}

.more-articles { 
    align-self: auto;
    font-family: 'Gill Sans';
}

p { 
    font-family: "source sans pro";
    text-align: justify;

}

